@import "tailwindcss";

:root {
  /* Light */
  --background: rgb(255 255 255);
  --foreground: rgb(15 23 42);
  --primary: rgb(37 99 235);
  --card: rgb(241 245 249);
}

[data-theme="dark"] {
  /* Dark */
  --background: rgb(2 6 23);
  --foreground: rgb(229 231 235);
  --primary: rgb(59 130 246);
  --card: rgb(15 23 42);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-card: var(--card);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
